<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card border-primary text-center">
                <div class="card-body">
                    <div class="card-header" th:text="${recipe.description}">Recipe name</div>

                    <div class="row">
                        <div class="col-md-3">
                            <h5>Categories</h5>
                        </div>
                        <div class="col-md-9">
                            <ul >
                                <li th:each="category : ${recipe.categories}" th:text="${category.description}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cold-md-3">
                            <h6>Prep Time:</h6>
                        </div>
                        <div class="cold-md-3">
                            <p th:text="${(recipe.prepTime) + ' min'}">30 min</p>
                        </div>
                        <div class="cold-md-3">
                            <h6>Difficulty:</h6>
                        </div>
                        <div class="cold-md-3">
                            <p th:text="${recipe.difficulty}">Easy</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cold-md-3">
                            <h6>Cooktime:</h6>
                        </div>
                        <div class="cold-md-3">
                            <p th:text="${(recipe.cookTime) + ' min'}">30 min</p>
                        </div>
                        <div class="cold-md-3">
                            <h6>Servings:</h6>
                        </div>
                        <div class="cold-md-3">
                            <p th:text="${recipe.servings}">4</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="cold-md-3">
                            <h6>Source:</h6>
                        </div>
                        <div class="cold-md-3">
                            <p th:text="${recipe.source}">30 min</p>
                        </div>
                        <div class="cold-md-3">
                            <h6>URL:</h6>
                        </div>
                        <div class="cold-md-3">
                            <p th:text="${recipe.url}">4</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="card-header text-center">Ingredients</div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:each="ingredient : ${recipe.ingredients}" th:text="${(ingredient.amount + ' ' + ingredient.uom + ' - ' + ingredient.description)}">1 Cup of milk</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="card-header text-center">Directions</div>
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">1 Cup of milk</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary">
                <div class="card-body">
                    <div class="card-header text-center">Notes</div>
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.notes.recipeNotes}">1 Cup of milk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
        th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>